{% for zone in coredns_zones %}
{% for transport in zone.transports %}
{% if transport.doh %}https://{% endif %}{% if transport.dot %}tls://{% endif %}{{ zone.zone }}:{{ transport.port }}{% raw %} {{%endraw %}
  {% for interface in transport.interfaces %}
    bind {{ interface }}
  {% endfor %}

  {% if transport.doh or transport.dot %}
    tls {{ transport.cert_path }} {{ transport.key_path }}
  {% endif %}

  {% if zone.log %}
    log
  {% endif %}

  {% if zone.health %}
    log
  {% endif %}

  {% if zone.cache %}
    health
  {% endif %}

  {% if zone.metrics %}
    prometheus
  {% endif %}

  {% for forward in zone.forwards %}
    forward . {% if forward.is_dot %}tls://{% endif %}{{ forward.addresses | join(' ') }}{% raw %} {{%endraw %}

    {% if forward.is_dot %}
      tls_servername {{ forward.hostname }}

    {% endif %}
  {% raw %}}{%endraw %}
  {% endfor %}

  {% if zone.dnssec %}
    dnssec
  {% endif %}

{% raw %}}{%endraw %}


{% endfor %}
{% endfor %}
