{% for zone in coredns_zones %}
{% for transport in zone.transports %}
{% if transport.doh %}https://{% endif %}{% if transport.dot %}tls://{% endif %}{{ zone.zone }}:{{ transport.port }}{% raw %} {{%endraw %}
  bind {{ transport.interface }}

  {% if transport.doh or transport.dot %}
    tls {{ transport.cert_path }} {{ transport.key_path }}
  {% endif %}

  {% if zone.log %}
    log
  {% endif %}

  {% if zone.health %}
    log
  {% endif %}

  {% if zone.cache %}
    health
  {% endif %}

  {% if zone.metrics %}
    prometheus
  {% endif %}

    forward . {% if zone.is_dot %}tls://{% endif %}{{ zone.addresses | join(' ') }}{% raw %} {{%endraw %}

    {% if zone.is_dot %}
      tls_servername {{ zone.hostname }}

    {% endif %}
  {% raw %}}{%endraw %}

  {% if zone.dnssec %}
    dnssec
  {% endif %}

{% raw %}}{%endraw %}


{% endfor %}
{% endfor %}
