[submodule "roles/node-red/files/app"]
	path = roles/node-red/files/app
	url = https://github.com/bryopsida/node-red-service.git
[submodule "wazuh"]
	path = wazuh
	url = https://github.com/wazuh/wazuh-ansible.git
[submodule "k3s"]
	path = k3s
	url = https://github.com/k3s-io/k3s-ansible.git
[submodule "kubespray"]
	path = kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
