[Unit]
Description=Uptime-Kuma
After=network.target

[Service]
ExecStart=node /opt/{{ uptime_kuma_org }}/uptime-kuma/server/server.js
WorkingDirectory=/opt/{{ uptime_kuma_org }}/uptime-kuma
User={{ uptime_kuma_uid }}
Group={{ uptime_kuma_gid }}
Restart=always
RestartSec=10
AppArmorProfile=/opt/{{ uptime_kuma_org }}/uptime-kuma/server/server.js

[Install]
WantedBy=multi-user.target
